<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-fixed-top .navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Twitter analysis</a>
        </div>
        <div class="navbar-collapse collapse" id="navBarMenu">
            <ul class="nav navbar-nav">
                <li><a href="ManageDatabases.jsp">Manage databases</a></li>
                <li><a href="#">Analysis tools</a>
                	<ul>
                		<li><a href="index.jsp">Retweeted network</a></li>
                		<li><a href="WordCloud.jsp">Top keywords</a></li>
                		<li><a href="ViewDiscussions.html">Discussion trees</a></li>
                	</ul>
                </li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#"></a></li><li><a href="#"></a></li>
                <li><a href="#"><i>Database in use:</i> <b><span id="currentDbText" style="color:red"><script>document.write(getCookie("currentDb"))</script></span></b></a></li>
            </ul>
        </div> 
    </div>
</div>
