<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-fixed-top .navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Twitter analysis</a>
        </div>
        <div class="navbar-collapse collapse" id="navBarMenu">
            <ul class="nav navbar-nav">
                <li><a href="ManageDatabases.jsp">Manage databases</a></li>
                <li><a href="#">Analysis tools</a>
                	<ul>
                		<li><a href="index.jsp">Retweeted network</a></li>
                		<li><a href="WordCloud.jsp">Top keywords</a></li>
                		<li><a href="ViewDiscussions.html">Discussion trees</a></li>
                		<li><a href="MutualInformation.jsp">Mutual Information</a></li>
                		<li><a href="KeywordsComparison.jsp">Keywords comparison</a></li>
                	</ul>
                </li>
                <li><a href="#">Evaluation tests</a>
                	<ul>
                		<li><a href="InfluenceLevel.jsp">Influence level</a></li>
                	</ul>
                </li>
                <li id="login">
			      <a id="login-trigger" href="#">
			        Select database <span>&#x25BC;</span>
			      </a>
			      <div id="login-content">
			        <form>
			          <fieldset id="inputs">
			            <input id="username" type="email" name="Email" placeholder="Your email address" required>   
			            <input id="password" type="password" name="Password" placeholder="Password" required>
			          </fieldset>
			          <fieldset id="actions">
			            <input type="submit" id="submit" value="Log in">
			            <label><input type="checkbox" checked="checked"> Keep me signed in</label>
			          </fieldset>
			        </form>
			      </div>                     
			    </li>
                <li><a href="#"><i>Database in use:</i> <b><span id="currentDbText" style="color:red"><script>document.write(getCookie("currentDb"))</script></span></b></a></li>
            </ul>
        </div> 
    </div>
</div>
